<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
        {{> speedtest-script }}
    </head>
    <body>
        {{>goto-swagger}}
        <table>
            <thead>
                <tr>
                    <th colspan="2">Ping statistics</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{>chart-line graphPerMinute}}</td>
                    <td>{{>chart-line graphPerHour}}</td>
                </tr>
                <tr>
                    <td>{{>speedtest-component}}</td>
                    <td>{{>chart-line speedgraphPerHour}}</td>
                </tr>
            </tbody>
        </table>
        {{>chart-script graphPerMinute}}
        {{>chart-script graphPerHour}}
        {{>chart-script speedgraphPerHour}}
    </body>
</html>
