<table>
    <tr>
        <td><button type="button" onclick="doAjaxCall('result')">Do Ookla Speedtest</button></td>
        <td><div id="progress"></div></td>
    </tr>
    <tr>
        <td>Date/time last run:</td>
        <td><div id="rundatetime"></div></td>
    </tr>
    <tr>
        <td>Download speed:</td>
        <td><div id="downloadspeed"></div></td>
    </tr>
    <tr>
        <td>Upload speed:</td>
        <td><div id="uploadspeed"></div></td>
    </tr>
</table>